$backgroundTeal: #90CAF9;

html {
  background: $backgroundTeal;
}

.grid-layout {
  background: $backgroundTeal;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 128px);
  min-height: 800px;
  margin-top: 1em;
}

.leftSide {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  width: 33%;

  div:first-child{
    margin-bottom: 1em;
  }
}

.rightSide {
  margin-right: 1em;
}
